@import "./../../../assets/abstracts/layout.scss";

article {
  height: 80vh;
  width: 80%;
  margin: 0 auto;

  @media (max-width: 767px) {
    width: 100%;
  }

  form {
    width: 50% !important;
    @media (max-width: 767px) {
      width: 90% !important;
    }
  }
}

input {
  padding: 5px 10px;
}

:host {
  height: 100%;
}

figure {
  img {
    width: 150px;
    object-fit: cover;
  }
}

label,
input {
  font-size: 1.25rem;
}
