$primary-color: #0071dc;
$primary-lite-color: #338de3;
$primary-color-300: #54a0e8;
$primary-color-500: #0071dc;
$primary-color-30: #b0d3f4;
$primary-color-200: #8abeef;
$lite-color: #f5f7fd;
$lite-color-500: #f2f2f2;
$white-color: #ffffff;
$grey-color: #808080;
$grey-color-30: #4c4c4d;
$grey-lite-color: #d8d8d8;
$black-color: #000;
$black-color-500: #2e2e2e;
$yellow-color: rgb(255, 194, 33);
$bg-color: #fff;
$second-bg-color: #f5f7fd;
$light-color: #e6f1fc;
$darkness-grey: #6c6c6c;
$main-white: #fff;
$grey-color: #808080;
$grey-400: #999999;
$grey-color-100: #d8d8d8;
$grey-color-500: #f2f2f2;
$yellow-color: #ffc221;
$light-blue: rgb(176, 211, 244);
$primary-shadow-color: rgba(0, 113, 220, 0.1);
$default-span-font-size: 1rem;
$default-p-font-size: 1rem;
$default-h1-font-size: 2.5rem;
$default-h2-font-size: 2rem;
$default-h3-font-size: 1.8rem;
$default-h4-font-size: 1.6rem;
$default-h5-font-size: 1.4rem;
$default-h6-font-size: 1.2rem;
$main-transition: 0.3s linear;
$main-box-shadow: 4px 4px 16px 0px rgba(0, 113, 220, 0.1);
$main-border: 1px solid $grey-color-500;
$warning-color: #f05866;
$warning-color-100: #ec454f;
